{% extends "base.html" %}
{% load static %}

{% block body %}

<div id="content" class="site-content">
    <div class="ast-container">
      <div
        data-elementor-type="wp-page"
        data-elementor-id="10264"
        class="elementor elementor-10264"
      >
        <section
          class="elementor-section elementor-top-section elementor-element elementor-element-10dc44ac elementor-section-boxed elementor-section-height-default elementor-section-height-default"
          data-id="10dc44ac"
          data-element_type="section"
          id="aboutcity"
          data-settings='{"background_background":"classic"}'
          style="margin-top:20px;"
        >
          <div class="elementor-container elementor-column-gap-default">
            <div
              class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-73c303c0"
              data-id="73c303c0"
              data-element_type="column"
            >
              <div
                class="elementor-widget-wrap elementor-element-populated"
              >
                <div
                  class="elementor-element elementor-element-39df7393 elementor-widget elementor-widget-heading"
                  data-id="39df7393"
                  data-element_type="widget"
                  data-widget_type="heading.default"
                >
                  <div class="elementor-widget-container">
                    <h3
                      class="elementor-heading-title elementor-size-default"
                    >
                      About Kyrgyzstan
                    </h3>
                  </div>
                </div>
                <div
                  class="elementor-element elementor-element-61f86358 elementor-widget-divider--view-line elementor-widget elementor-widget-divider"
                  data-id="61f86358"
                  data-element_type="widget"
                  data-widget_type="divider.default"
                >
                  <div class="elementor-widget-container">
                    <div class="elementor-divider">
                      <span class="elementor-divider-separator"> </span>
                    </div>
                  </div>
                </div>
                <div
                  class="elementor-element elementor-element-19fe0ad6 elementor-widget elementor-widget-image"
                  data-id="19fe0ad6"
                  data-element_type="widget"
                  data-widget_type="image.default"
                >
                  <div class="elementor-widget-container">
                    <style>
                      /*! elementor - v3.6.5 - 27-04-2022 */
                      .elementor-widget-image {
                        text-align: center;
                      }
                      .elementor-widget-image a {
                        display: inline-block;
                      }
                      .elementor-widget-image a img[src$=".svg"] {
                        width: 48px;
                      }
                      .elementor-widget-image img {
                        vertical-align: middle;
                        display: inline-block;
                      }
                    </style>
                    <img
                      width="1024"
                      height="600"
                      src="../static/images/country/kyrgyzstan.jpeg"
                      class="attachment-full size-full"
                      alt=""
                      loading="lazy"
                      srcset="
                        ../static/images/country/kyrgyzstan.jpeg 1024w,
                        ../static/images/country/kyrgyzstan.jpeg  300w,
                        ../static/images/country/kyrgyzstan.jpeg  768w
                      "
                      sizes="(max-width: 1024px) 100vw, 1024px"
                    />
                  </div>
                </div>
                <section
                  class="elementor-section elementor-inner-section elementor-element elementor-element-1c92b31 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                  data-id="1c92b31"
                  data-element_type="section"
                >
                  <div
                    class="elementor-container elementor-column-gap-default"
                  >
                    <div
                      class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-882ad76"
                      data-id="882ad76"
                      data-element_type="column"
                    >
                      <div
                        class="elementor-widget-wrap elementor-element-populated"
                      >
                        <div
                          class="elementor-element elementor-element-e6a9d27 elementor-widget elementor-widget-text-editor"
                          data-id="e6a9d27"
                          data-element_type="widget"
                          data-widget_type="text-editor.default"
                        >
                          <div class="elementor-widget-container">
                            <style>
                              /*! elementor - v3.6.5 - 27-04-2022 */
                              .elementor-widget-text-editor.elementor-drop-cap-view-stacked
                                .elementor-drop-cap {
                                background-color: #818a91;
                                color: #fff;
                              }
                              .elementor-widget-text-editor.elementor-drop-cap-view-framed
                                .elementor-drop-cap {
                                color: #818a91;
                                border: 3px solid;
                                background-color: transparent;
                              }
                              .elementor-widget-text-editor:not(.elementor-drop-cap-view-default)
                                .elementor-drop-cap {
                                margin-top: 8px;
                              }
                              .elementor-widget-text-editor:not(.elementor-drop-cap-view-default)
                                .elementor-drop-cap-letter {
                                width: 1em;
                                height: 1em;
                              }
                              .elementor-widget-text-editor
                                .elementor-drop-cap {
                                float: left;
                                text-align: center;
                                line-height: 1;
                                font-size: 50px;
                              }
                              .elementor-widget-text-editor
                                .elementor-drop-cap-letter {
                                display: inline-block;
                              }
                            </style>
                            <div
                              class="flex_column av_one_full flex_column_div av-zero-column-padding first avia-builder-el-8 el_after_av_one_full el_before_av_one_full column-top-margin"
                            >
                              <section class="av_textblock_section">
                                <div class="avia_textblock">
                                  <div
                                    class="flex_column av_one_full flex_column_div av-zero-column-padding first avia-builder-el-5 el_after_av_one_full el_before_av_one_full column-top-margin"
                                  >
                                    <section class="av_textblock_section">
                                      <div class="avia_textblock">
                                        <p>
                                          <strong
                                            >Below are some noticeable
                                            things about Kyrgyzstan:</strong
                                          >
                                        </p>
                                        <p>
                                          Kyrgyzstan (officially the Kyrgyz
                                          Republic), known as the
                                          "Switzerland of Central Asia" is a
                                          mountainous nation with un
                                          believably stunning terrains. With
                                          more than half of the popu lation
                                          under the age of 25, Kyrgyzstan,
                                          at the age of 30, is a youthful
                                          country. Their official languages
                                          are Kyrgyz and Kyrgyzstan. Kyrgyzstan
                                          declared its independence on
                                          August 31, 1991 and named Bishkek
                                          Its new capital. It is considered
                                          one of the most beau tiful as well
                                          as safer countries in Central
                                          Asia.
                                        </p>
                                      </div>
                                    </section>
                                  </div>
                                </div>
                              </section>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
              </div>
            </div>
          </div>
        </section>

        <section
          class="elementor-section elementor-top-section elementor-element elementor-element-8e23c6f elementor-section-boxed elementor-section-height-default elementor-section-height-default"
          data-id="8e23c6f"
          data-element_type="section"
          id="aboutuniversity"
          data-settings='{"background_background":"classic"}'
        >
          <div class="elementor-container elementor-column-gap-default">
            <div
              class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-4e1bcfa9"
              data-id="4e1bcfa9"
              data-element_type="column"
            >
              <div
                class="elementor-widget-wrap elementor-element-populated"
              >
                <div
                  class="elementor-element elementor-element-1966e435 elementor-widget elementor-widget-heading"
                  data-id="1966e435"
                  data-element_type="widget"
                  data-widget_type="heading.default"
                >
                  <div class="elementor-widget-container">
                    <h2
                      class="elementor-heading-title elementor-size-default"
                    >
                      The International High School of Medicine,
                    </h2>
                  </div>
                </div>
                <div
                  class="elementor-element elementor-element-8dcd220 elementor-widget-divider--view-line elementor-widget elementor-widget-divider"
                  data-id="8dcd220"
                  data-element_type="widget"
                  data-widget_type="divider.default"
                >
                  <div class="elementor-widget-container">
                    <div class="elementor-divider">
                      <span class="elementor-divider-separator"> </span>
                    </div>
                  </div>
                </div>
                <div
                  class="elementor-element elementor-element-a7b4647 elementor-widget elementor-widget-image"
                  data-id="a7b4647"
                  data-element_type="widget"
                  data-widget_type="image.default"
                >
                  <div class="elementor-widget-container">
                    <img
                      width="1024"
                      height="600"
                      src="../static/images/country/first.jpg"
                      class="attachment-full size-full"
                      alt=""
                      loading="lazy"
                      srcset="
                        ../static/images/country/first.jpg 1024w,
                        ../static/images/country/first.jpg  300w,
                        ../static/images/country/first.jpg  768w
                      "
                      sizes="(max-width: 1024px) 100vw, 1024px"
                    />
                  </div>
                </div>
                <div
                  class="elementor-element elementor-element-e67cb9b elementor-widget elementor-widget-text-editor"
                  data-id="e67cb9b"
                  data-element_type="widget"
                  data-widget_type="text-editor.default"
                >
                  <div class="elementor-widget-container">
                    <p>
                      founded in 1993, in the pinnacle of medicine
                      education. IHSM has the older and features one of the
                      most magnificent structure in Bishkek. This
                      institution was founded with the goal of providing the
                      finest quality education and implementing a
                      comprehensive education reform approach. The
                      university offers a 5.5year medical program. It has 3
                      ex quisite campuses, 5 IHSM clinics, and 2
                      morphological centers. The university has 10 percent
                      academic mobility and around 1600 alumni members of
                      IHSM are working worldwide.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section
          class="elementor-section elementor-top-section elementor-element elementor-element-8e23c6f elementor-section-boxed elementor-section-height-default elementor-section-height-default"
          data-id="8e23c6f"
          data-element_type="section"
          id="aboutuniversity"
          data-settings='{"background_background":"classic"}'
        >
          <div class="elementor-container elementor-column-gap-default">
            <div
              class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-4e1bcfa9"
              data-id="4e1bcfa9"
              data-element_type="column"
            >
              <div
                class="elementor-widget-wrap elementor-element-populated"
              >
                <div
                  class="elementor-element elementor-element-1966e435 elementor-widget elementor-widget-heading"
                  data-id="1966e435"
                  data-element_type="widget"
                  data-widget_type="heading.default"
                >
                  <div class="elementor-widget-container">
                    <h2
                      class="elementor-heading-title elementor-size-default"
                    >
                      International High School of Medicine (Issyk-Kul)
                    </h2>
                  </div>
                </div>
                <div
                  class="elementor-element elementor-element-8dcd220 elementor-widget-divider--view-line elementor-widget elementor-widget-divider"
                  data-id="8dcd220"
                  data-element_type="widget"
                  data-widget_type="divider.default"
                >
                  <div class="elementor-widget-container">
                    <div class="elementor-divider">
                      <span class="elementor-divider-separator"> </span>
                    </div>
                  </div>
                </div>
                <div
                  class="elementor-element elementor-element-a7b4647 elementor-widget elementor-widget-image"
                  data-id="a7b4647"
                  data-element_type="widget"
                  data-widget_type="image.default"
                >
                  <div class="elementor-widget-container">
                    <img
                      width="1024"
                      height="600"
                      src="../static/images/country/second.jpg"
                      class="attachment-full size-full"
                      alt=""
                      loading="lazy"
                      srcset="
                        ../static/images/country/second.jpg 1024w,
                        ../static/images/country/second.jpg  300w,
                        ../static/images/country/second.jpg  768w
                      "
                      sizes="(max-width: 1024px) 100vw, 1024px"
                    />
                  </div>
                </div>
                <div
                  class="elementor-element elementor-element-e67cb9b elementor-widget elementor-widget-text-editor"
                  data-id="e67cb9b"
                  data-element_type="widget"
                  data-widget_type="text-editor.default"
                >
                  <div class="elementor-widget-container">
                    <p>
                      is the International School Of Medicine structural
                      division locat ed in the town of Cholpon-Ata on a
                      shore of Issyk-Kul lake. The university functions
                      close to the International School Of Medi cine campus
                      in Bishkek and provides training of 5 years of MD
                      Degree in General Medicine. The administrative
                      subdivisions and departments located in the Issyk-Kul
                      campus also tightly coordinate their activities with
                      the International School Of Medicine departments
                      located at the Central Campus. The campus's training
                      units are equipped with all the necessary study
                      materials to ensure active learning.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section
          class="elementor-section elementor-top-section elementor-element elementor-element-8e23c6f elementor-section-boxed elementor-section-height-default elementor-section-height-default"
          data-id="8e23c6f"
          data-element_type="section"
          id="aboutuniversity"
          data-settings='{"background_background":"classic"}'
        >
          <div class="elementor-container elementor-column-gap-default">
            <div
              class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-4e1bcfa9"
              data-id="4e1bcfa9"
              data-element_type="column"
            >
              <div
                class="elementor-widget-wrap elementor-element-populated"
              >
                <div
                  class="elementor-element elementor-element-1966e435 elementor-widget elementor-widget-heading"
                  data-id="1966e435"
                  data-element_type="widget"
                  data-widget_type="heading.default"
                >
                  <div class="elementor-widget-container">
                    <h2
                      class="elementor-heading-title elementor-size-default"
                    >
                      KYRGYZ STATE MEDICAL ACADEMY (KSMA)
                    </h2>
                  </div>
                </div>
                <div
                  class="elementor-element elementor-element-8dcd220 elementor-widget-divider--view-line elementor-widget elementor-widget-divider"
                  data-id="8dcd220"
                  data-element_type="widget"
                  data-widget_type="divider.default"
                >
                  <div class="elementor-widget-container">
                    <div class="elementor-divider">
                      <span class="elementor-divider-separator"> </span>
                    </div>
                  </div>
                </div>
                <div
                  class="elementor-element elementor-element-a7b4647 elementor-widget elementor-widget-image"
                  data-id="a7b4647"
                  data-element_type="widget"
                  data-widget_type="image.default"
                >
                  <div class="elementor-widget-container">
                    <img
                      width="1024"
                      height="600"
                      src="../static/images/country/third.jpg"
                      class="attachment-full size-full"
                      alt=""
                      loading="lazy"
                      srcset="
                        ../static/images/country/third.jpg 1024w,
                        ../static/images/country/third.jpg  300w,
                        ../static/images/country/third.jpg  768w
                      "
                      sizes="(max-width: 1024px) 100vw, 1024px"
                    />
                  </div>
                </div>
                <div
                  class="elementor-element elementor-element-e67cb9b elementor-widget elementor-widget-text-editor"
                  data-id="e67cb9b"
                  data-element_type="widget"
                  data-widget_type="text-editor.default"
                >
                  <div class="elementor-widget-container">
                    <p>
                      Is one the best oldest universities, located in
                      Bishkek. The university has a modern infrastructure
                      and offers low-cost, high-quality medical education. A
                      total number of 15,000 students are currently study
                      ing and among them, 20 percent of international stu
                      dents. The faculties at Kyrgyz state medical academy
                      are well qualified and some of them have received
                      state award winners. The professors are supportive and
                      are available to help students even beyond collage
                      working hours.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section
          class="elementor-section elementor-top-section elementor-element elementor-element-7bcd48f7 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
          data-id="7bcd48f7"
          data-element_type="section"
          id="accreditation"
          data-settings='{"background_background":"classic"}'
        >
          <div class="elementor-container elementor-column-gap-default">
            <div
              class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-28a5247f"
              data-id="28a5247f"
              data-element_type="column"
            >
              <div
                class="elementor-widget-wrap elementor-element-populated"
              >
                <div
                  class="elementor-element elementor-element-9cd64a1 elementor-widget elementor-widget-heading"
                  data-id="9cd64a1"
                  data-element_type="widget"
                  data-widget_type="heading.default"
                >
                  <div class="elementor-widget-container">
                    <h2
                      class="elementor-heading-title elementor-size-default"
                    >
                      Accreditation and Recognitions
                    </h2>
                  </div>
                </div>
                <div
                  class="elementor-element elementor-element-623bd933 elementor-widget-divider--view-line elementor-widget elementor-widget-divider"
                  data-id="623bd933"
                  data-element_type="widget"
                  data-widget_type="divider.default"
                >
                  <div class="elementor-widget-container">
                    <div class="elementor-divider">
                      <span class="elementor-divider-separator"> </span>
                    </div>
                  </div>
                </div>
                <div
                  class="elementor-element elementor-element-18c81df0 elementor-widget elementor-widget-text-editor"
                  data-id="18c81df0"
                  data-element_type="widget"
                  data-widget_type="text-editor.default"
                >
                  <div class="elementor-widget-container">
                    <section class="av_textblock_section">
                      <div class="avia_textblock">
                        <p>
                          <strong
                            >IHSM,Issyk-Kul, KSMA,  University is recognized by
                            many medical organizations across the world.
                            Here is the list:</strong
                          >
                        </p>
                        <ul>
                          <li>World Health Organization (WHO)</li>
                          <li>National Medical Commission (NMC)</li>
                          <li>General Medical Council ( GMC)</li>
                          <li>
                            The Educational Commission for Foreign Medical
                            Graduates (ECFMG)
                          </li>
                          <li>
                            The Ministry of Health of the Kyrgyzstan Federation
                          </li>
                          <li>World directory of medical school</li>
                          <li>Ministry of Health care</li>
                          <li>
                            The Kyrgyzstan Federation’s Ministry of Education
                            and science
                          </li>
                        </ul>
                      </div>
                    </section>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section
          class="elementor-section elementor-top-section elementor-element elementor-element-6c178ad7 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
          data-id="6c178ad7"
          data-element_type="section"
          id="inoverseas"
          data-settings='{"background_background":"classic"}'
        >
          <div class="elementor-container elementor-column-gap-default">
            <div
              class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-4c53687c"
              data-id="4c53687c"
              data-element_type="column"
            >
              <div
                class="elementor-widget-wrap elementor-element-populated"
              >
                <div
                  class="elementor-element elementor-element-19bb16c elementor-widget elementor-widget-heading"
                  data-id="19bb16c"
                  data-element_type="widget"
                  data-widget_type="heading.default"
                >
                  <div class="elementor-widget-container">
                    <h2
                      class="elementor-heading-title elementor-size-default"
                    >
                      Admission Process
                    </h2>
                  </div>
                </div>
                <div
                  class="elementor-element elementor-element-518a21d2 elementor-widget-divider--view-line elementor-widget elementor-widget-divider"
                  data-id="518a21d2"
                  data-element_type="widget"
                  data-widget_type="divider.default"
                >
                  <div class="elementor-widget-container">
                    <div class="elementor-divider">
                      <span class="elementor-divider-separator"> </span>
                    </div>
                  </div>
                </div>
                <div
                  class="elementor-element elementor-element-3d714ed2 elementor-widget elementor-widget-text-editor"
                  data-id="3d714ed2"
                  data-element_type="widget"
                  data-widget_type="text-editor.default"
                >
                  <div class="elementor-widget-container">
                    <p>
                      <strong
                        >The admission procedure at the Kazan State Medical
                        University is as follows:</strong
                      >
                    </p>
                    <p>
                      <strong
                        >A prospective student can apply online as
                        instructed below:-</strong
                      >
                    </p>
                    <p>
                      <strong class="stepclass">Step 1:</strong> Open the
                      application form.
                    </p>
                    <p>
                      <strong class="stepclass">Step 2:</strong> Fill in the
                      application form accurately.
                    </p>
                    <p>
                      <strong class="stepclass">Step 3:</strong> Attach the
                      documents given below
                    </p>
                    <ul>
                      <li>
                        Scanned copy of marks (grades) of completion of
                        higher secondary education / tertiary education
                        (should be translated into Kyrgyzstan language)
                      </li>
                      <li>
                        Results of NEET (only for candidates from India)
                      </li>
                      <li>
                        Scanned copy of your Passport (should be translated
                        into Kyrgyzstan language) Students should send all the
                        documents on
                        <a href="mailto:help@ismoedu.in"
                          >help@ismoedu.in</a>
                       
                      </li>
                    </ul>
                    <p>
                      <strong class="stepclass">Step 4:</strong> After
                      fulfilling all the conditions and upon acceptance
                      students will be provided with a provisional admission
                      letter (in electronic format) upon request.
                    </p>
                    <p>
                      <strong class="stepclass">Step 5:</strong> As soon as
                      your visa invitation will be ready, the university
                      will mail you your visa invitation.
                    </p>
                    <p>
                      <strong class="stepclass">Step 6:</strong> Stamp your
                      visa in the Embassy (Consulate) of Kyrgyzstan Federation,
                      once you receive the visa invitation.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section
          class="elementor-section elementor-top-section elementor-element elementor-element-41d85a00 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
          data-id="41d85a00"
          data-element_type="section"
          id="medium"
        >
          <div class="elementor-container elementor-column-gap-default">
            <div
              class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-21c3c078"
              data-id="21c3c078"
              data-element_type="column"
            >
              <div
                class="elementor-widget-wrap elementor-element-populated"
              >
                <div
                  class="elementor-element elementor-element-170e4a6c elementor-widget elementor-widget-heading"
                  data-id="170e4a6c"
                  data-element_type="widget"
                  data-widget_type="heading.default"
                >
                  <div class="elementor-widget-container">
                    <h2
                      class="elementor-heading-title elementor-size-default"
                    >
                      Medium of Teaching
                    </h2>
                  </div>
                </div>
                <div
                  class="elementor-element elementor-element-7579f0c6 elementor-widget-divider--view-line elementor-widget elementor-widget-divider"
                  data-id="7579f0c6"
                  data-element_type="widget"
                  data-widget_type="divider.default"
                >
                  <div class="elementor-widget-container">
                    <div class="elementor-divider">
                      <span class="elementor-divider-separator"> </span>
                    </div>
                  </div>
                </div>
                <div
                  class="elementor-element elementor-element-65e926e elementor-widget elementor-widget-text-editor"
                  data-id="65e926e"
                  data-element_type="widget"
                  data-widget_type="text-editor.default"
                >
                  <div class="elementor-widget-container">
                    <p>
                      <strong
                        >Following is the medium of teaching at IHSM,Issyk-Kul, KSMA, University:</strong
                      >
                    </p>
                    <p>
                      AtIHSM,Issyk-Kul, KSMA, University, the medicine
                      courses are taught in English language
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section
          class="elementor-section elementor-top-section elementor-element elementor-element-50921b9 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
          data-id="50921b9"
          data-element_type="section"
          data-settings='{"background_background":"classic"}'
        >
          <div class="elementor-background-overlay"></div>
          <div class="elementor-container elementor-column-gap-default">
            <div
              class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-d986fe9"
              data-id="d986fe9"
              data-element_type="column"
              data-settings='{"background_background":"classic"}'
            >
              <div
                class="elementor-widget-wrap elementor-element-populated"
              >
                <div
                  class="elementor-element elementor-element-ac80970 elementor-view-default elementor-widget elementor-widget-icon"
                  data-id="ac80970"
                  data-element_type="widget"
                  data-widget_type="icon.default"
                >
                  <div class="elementor-widget-container">
                    <div class="elementor-icon-wrapper">
                      <div class="elementor-icon">
                        <i aria-hidden="true" class="icon icon-eye3"></i>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="elementor-element elementor-element-90d7f23 elementor-widget elementor-widget-heading"
                  data-id="90d7f23"
                  data-element_type="widget"
                  data-widget_type="heading.default"
                >
                  <div class="elementor-widget-container">
                    <h2
                      class="elementor-heading-title elementor-size-default"
                    >
                      Eligibility Criteria
                    </h2>
                  </div>
                </div>
                <div
                  class="elementor-element elementor-element-cf7a870 elementor-widget-divider--view-line elementor-widget elementor-widget-divider"
                  data-id="cf7a870"
                  data-element_type="widget"
                  data-widget_type="divider.default"
                >
                  <div class="elementor-widget-container">
                    <div class="elementor-divider">
                      <span class="elementor-divider-separator"> </span>
                    </div>
                  </div>
                </div>
                <div
                  class="elementor-element elementor-element-6fa5944 elementor-widget elementor-widget-text-editor"
                  data-id="6fa5944"
                  data-element_type="widget"
                  data-widget_type="text-editor.default"
                >
                  <div class="elementor-widget-container">
                    <ul>
                      <li>A Score of 50% is required in 12th Class.</li>
                      <li>Minimum Age: 18 years.</li>
                      <li>
                        Candidates applying for MBBS must fulfill all the
                        requirements listed in the guidelines of National
                        Med ical Commission (NMC).
                      </li>
                      <li>Must have Qualified in NEET Exam.</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-a7f04e5"
              data-id="a7f04e5"
              data-element_type="column"
              data-settings='{"background_background":"classic"}'
            >
              <div
                class="elementor-widget-wrap elementor-element-populated"
              >
                <div
                  class="elementor-element elementor-element-ae25ec7 elementor-view-default elementor-widget elementor-widget-icon"
                  data-id="ae25ec7"
                  data-element_type="widget"
                  data-widget_type="icon.default"
                >
                  <div class="elementor-widget-container">
                    <div class="elementor-icon-wrapper">
                      <div class="elementor-icon">
                        <i
                          aria-hidden="true"
                          class="icon icon-handshake"
                        ></i>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="elementor-element elementor-element-4de4b35 elementor-widget elementor-widget-heading"
                  data-id="4de4b35"
                  data-element_type="widget"
                  data-widget_type="heading.default"
                >
                  <div class="elementor-widget-container">
                    <h2
                      class="elementor-heading-title elementor-size-default"
                    >
                      Documents Required
                    </h2>
                  </div>
                </div>
                <div
                  class="elementor-element elementor-element-44eb995 elementor-widget-divider--view-line elementor-widget elementor-widget-divider"
                  data-id="44eb995"
                  data-element_type="widget"
                  data-widget_type="divider.default"
                >
                  <div class="elementor-widget-container">
                    <div class="elementor-divider">
                      <span class="elementor-divider-separator"> </span>
                    </div>
                  </div>
                </div>
                <div
                  class="elementor-element elementor-element-a7ac6b8 elementor-widget elementor-widget-text-editor"
                  data-id="a7ac6b8"
                  data-element_type="widget"
                  data-widget_type="text-editor.default"
                >
                  <div class="elementor-widget-container">
                    <ul>
                      <li>
                        Valid Passport with a minimum validity of ISMO 6
                        months/1 year.
                      </li>

                      <li>10th & 12th Certificate.</li>
                      <li>NEET Qualified score card.</li>
                      <li>Birth Certificate.</li>
                      <li>3 Photographs.</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

     

      </div>
    </div>
    <!-- ast-container -->
  </div>
  
{% endblock body %}